.main-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image:url("./img/jeep_font.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}